﻿
@{
    ViewBag.Title = "Create";
}

<h2>Add new genre</h2>

<div class="genre-add">
    <form method="post" >
        <label for="name">Genre</label>
        <input type="text" name="name" />
        <input type="submit" value="Add" />
    </form>
</div>