﻿
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Knjizara.Models.Genre>

<h2>Add new genre</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Genre</th>
    </tr>

    @foreach (Knjizara.Models.Genre gr in Model)
    {
        <tr>
            <td>
                @gr.Id
            </td>
            <td>
                @gr.Name
            </td>
            <td>
                <a href="/Genre/Delete/?id=@gr.Id">Delete</a>
            </td>

        </tr>
    }
</table>
<a href="/Genre/Create">Add new genre</a>

