﻿
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Knjizara.Models.Genre>

<h2>BookShop Home Page</h2>
<hr />
<form method="post" action="/BookStore/Create">
    <table>
        <tr>
            <td colspan="2" align="center" }>
                <b>Add new book</b>
            </td>
        </tr>
        <tr>
            <td>
                Book name:
            </td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        <tr>
            <td>
                Price:
            </td>
            <td>
                <input type="number" name="price" />
            </td>
        </tr>
        <tr>
            <td>
                Genre:
            </td>
            <td>
                <select name="Genre">
                    @foreach (Knjizara.Models.Genre g in Model)
                    {
                        <option value="@g.Id">@g.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
    <a href="/BookStore/Read"> Show all books </a>|
    <a href="/Genre/Create"> Add new genre </a> |
    <a href="/BookStore/ShowDeleted"> Show deleted books </a>

</form>

