﻿
@{
    ViewBag.Title = "Read";
}
@model IEnumerable<Knjizara.Models.Book>
<h2>Read</h2>

<Table border='1'>

    <tr>

        <td>
            <b> Id </b>
        </td>

        <td>
            <b> Name of Book</b>
        </td>

        <td>
            <b> Genre</b>
        </td>

        <td>
            <b>Price</b>
        </td>

    </tr>
    @foreach (Knjizara.Models.Book bk in Model)
    {
    <tr>
        <td>
            @bk.Id
        </td>
        <td>
            @bk.Name
        </td>
        <td>
            @bk.Genre.Name
        </td>
        <td>
            @bk.Price
        </td>
        <td>
            <a href="/BookStore/Delete/?id=@bk.Id">Delete</a>
        </td>
        <td>
            <a href="/BookStore/Update/?id=@bk.Id">Edit</a>
        </td>
    </tr>
    }

</Table>