﻿
@{
    ViewBag.Title = "Search";
}



<h2>Search</h2>
<div>
    <form method="get" action="/Bookstore/SearchResult">

        <input type"text" name="name" placeholder="Add search criteria" />

        <select name="criteria">
            <option value="name">Book name</option>
            <option value="chapter">Chapter name</option>
        </select>

        <input type="submit" value="Search" />

    </form>
</div>


    

