﻿
@{
    ViewBag.Title = "SearchResult";
}
@model IEnumerable<Knjizara.Models.Book>

<h2>SearchResult</h2>

<Table>
    <tr>
        <th>
             Id 
        </th>
        <th>
             Name of Book
        </th>
        <th>
             Genre
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (Knjizara.Models.Book bk in Model)
    {
        <tr>
            <td>
                @bk.Id
            </td>
            <td>
                @bk.Name
            </td>
            <td>
                @bk.Genre.Name
            </td>
            <td>
                @bk.Price
            </td>
        </tr>
    }
</Table>