﻿
@{
    ViewBag.Title = "ShowDeleted";
}
@model IEnumerable<Knjizara.Models.Book>
<h2>ShowDeleted</h2>

<Table border='1'>

    <tr>

        <td>
            <b> Id </b>
        </td>

        <td>
            <b> Name of Book</b>
        </td>

        <td>
            <b> Genre</b>
        </td>

        <td>
            <b>Price</b>
        </td>

    </tr>
    @foreach (Knjizara.Models.Book bk in Model)
    {
        <tr>

            <td>
                @bk.Id
            </td>

            <td>
                @bk.Name
            </td>

            <td>
                @bk.Genre.Name
            </td>

            <td>
                @bk.Price
            </td>

            

        </tr>
    }

</Table>