﻿
@{
    ViewBag.Title = "Update";
}
@model Knjizara.ViewModel.BookGenreViewModel


<h2>Edit book data</h2>

<form method="post" action="/BookStore/Update">
    <table>
        <tr>
            <td colspan="2" align="center" }>
                <b>Edit book data</b>
            </td>
        </tr>
        <tr>
            <td>
                Book name:
            </td>
            <td>
                <input type="hidden" name="Book.id" value="@Model.Book.Id" />
                <input type="text" name="Book.name" value="@Model.Book.Name" />
            </td>
        </tr>
        <tr>
            <td>
                Price:
            </td>
            <td>
                <input type="number" name="Book.price" value="@Model.Book.Price" />
            </td>
        </tr>
        <tr>
            <td>
                Genre:
            </td>
            <td>
                <select name="SelectedGenre">
                    @foreach (Knjizara.Models.Genre g in Model.Genres)
                    {
                        if (g.Id == Model.SelectedGenre)
                        {
                            <option value="@g.Id" selected>@g.Name</option>
                        }
                        else
                        {
                            <option value="@g.Id">@g.Name</option>
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Save changes" />
            </td>
        </tr>
    </table>
    

</form>

